*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#weather{
    float: left;
    color: #ecdfdf;
    background-color: #3A57FA;
}
.dt{
    background-color: #3A57FA;
    color: #f6f7fa;
}
body{
    background-color: #f6f7fa;
}
h1{
    color: cornflowerblue;
    text-transform: capitalize;
    margin: 20px 20px;
}
p {
    margin: 20px;
    font-size: 18px;
}

.logoutBtn{
    text-decoration: none;
    background-color:#3A57FA;   
    padding: 8px 16px;
    border-radius: 4px; 
    color: antiquewhite;
    margin-right: 20px;
    float: right;
}
.container{
    position: absolute;
    top: 250px;
    left: 500px;
}
.input-txt{
    border: 0;
    padding-bottom: 18px;
    float: left;
}
.input-txt .input-style{
    background-color: #F6F8FC;
    border-radius: 8px;
    height: 44px;
    border: 1px solid #B9BECE;
    font-size: 14px;
    color: #2A2C33;
    width: 450px;
    padding: 4px 16px 4px;
    outline: none;
}
.common-btn{
    background-color: #3A57FA;
    color: #fff;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    padding: 0 24px;
    height: 36px;
    border-radius: 8px;
    letter-spacing: 0.28px;
    text-align: center;
    font-size: 14px;
    font-family: Arial,sans-serif;
    border: none;
}
.todo-container{
    top: 300px;
    margin: 45px 35px 0 15px;
    width: 400px;
}
.ul{
    color: #0c0c0c;
    min-width: 100px;
    max-width: 350px;
    align-items: center;
    list-style: none;
    margin-left: 15px;
 }

.main{
    display: flex;
    justify-content: space-between;
}
.d{
    margin-right: 10px;
    font-size: 20px;
}
.btns{
  border-color: #B9BECE;
  padding: 5px;
  font-size: 18px;
  font-weight: 300;
}
.check_Btn{
    margin-right: 7px;
}
.edit_Btn{
    color: #f6f7fa;
    background-color: #3A57FA;
}
.del_Btn{
    color: #f6f7fa;
   background-color: #ec0a1d;
}
.complete{
    color: #0c0c0c;
    min-width: 30%;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: line-through;
    margin-left:17px;
 }
.complete .li{
    padding: 12px;
} 

.apis{
    margin-left: 10px;
}
.apis .weather{
    background-color: #1ecde4;
    color: #fff;
    margin-bottom: 10px;
    padding-left: 21px;
    max-width: 250px;
}
.apis .weather .temp{
    font-size: 21px;
}
.apis .gif{
    background-color: #e4951e;
    margin-top: 10px;
    padding:10px 0 0 30px;
    max-width: 250px;
}
.apis .datetime{
    background-color: #f0380a;
    margin-top: 10px;
    padding-left: 20px;
    max-width: 250px;
}