*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #70bd51 ;
    background-size:contain;
}
.container{
    background-color: white;
    width: 470px;
    position: absolute;
    left: 34.4%;
    top: 15%;
    align-self: center;
    border-radius: 12px;
    padding: 4px;
}
.input-group{
    border: 0;
    padding-bottom: 18px;
}
.label-input{
    font-size: 27px;
    line-height: 35px;
    letter-spacing: 0.24px;
    color: #141516;
    font-family: Arial,sans-serif;
}
.input-group .input-style{
    height: 44px;
    border-radius: 8px;
    border: 1px solid #B9BECE;
    font-size: 14px;
    color: #010103;
    width: 100%;
    padding: 0 16px 0 16px;
    outline: none;
}
#updateBtn{
    background-color:#e64f13;   
    border: none;
    padding: 8px 16px;
    border-radius: 4px; 
    margin:0 0 10px 160px;
    color: antiquewhite;
    font-size: 18px;
}
