.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}
  
.header a {
   float: left;
   color: black;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-family: Arial, sans-serif;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
}
  
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
  

.header a:hover {
  background-color:#1815dd;
  color: #fff;
}
  
.header-right {
   float: right;
}