.profile{
    font-size: large;
    color: #0b0b0c;
    text-align: center;
    font-size: 30px;
}
.container{
    color: #fff;
    background-color: #3c9485;
    font-size: 20px;
    font-family: Arial, sans-serif;
    width: 350px;
    margin: 100px 600px 0 600px;
}
.h{
    margin: 20px 0 0 50px;
    text-align:left;
}
#profileBtn{
    color: antiquewhite;
    background-color:#3A57FA;   
    text-decoration: none;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px; 
    border: none;
    margin-left: 600px;
}
