*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    background: #237EEE ;
    background-size: cover;
}
.container{
    width: 470px;
    position: absolute;
    background-color: white;
    left: 34.4%;
    top: 15%;
    align-self: center;
    border-radius: 12px;
    padding: 4px;
}
.container h1{
    font-size: 28px;
    font-family: Arial,sans-serif;
    text-transform: none;
    color: #3A57FA;
    text-align: center;
    letter-spacing: 0;
    margin: 0;
}
.container-text{
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #2A2C33;
    margin-top: 15px;
    margin-bottom: 14px;
    text-align: center;
}
.container-text p a{
    color: #3a57fa;
    text-decoration: none;
    font-family: Arial,sans-serif;
}
.input-group{
    border: 0;
    padding-bottom: 18px;
    margin-bottom: 0;
}
.label-input{
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.24px;
    color: #2A2C33;
    font-family: Arial,sans-serif;
}
.input-group .input-style{
    height: 44px;
    border-radius: 8px;
    border: 1px solid #B9BECE;
    font-size: 14px;
    color: #010103;
    width: 100%;
    padding: 4px 16px 4px;
    outline: none;
}
.common-btn{
    overflow: auto;
}
.common-btn button{
    height: 36px;
    padding: 0 24px;
    background-color: #3A57FA;
    border-radius: 25px;
    color: #fff;
    font-family: Arial,sans-serif;
    border: none;
    float: right;
    margin: 0 15px 15px;
}
.common-btn button:hover{
    background-color: #3447bf;
}
